
:root {
    --background-color: #F1F0E8; 
    --second-background-color: #E5E1DA;
    --darkrow: #23456718;
    --dark-accent: #526D82;
    --ligth-accent: #b1dae7;
    --dark-font: #27374D;
    --ligth-font: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    height: 100vh; 
    margin: 0; 
    padding: 0;
}

.header {
    position: fixed;
    background-color: #234567;
    width: 100%;
    left: 0;
    top: 0;
    color: var(--ligth-font);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.registration-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(177, 218, 231, 0.5);
    width: 40vw;
    min-height: 25%;
    border-radius: 10px;
    margin-top: 100px;
    padding: 20px;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form-input {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--dark-accent);
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: var(--second-background-color);
    color: var(--dark-font);
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
    border-color: var(--light-accent);
    box-shadow: 0 0 5px var(--light-accent);
}
p{
    font-size: 14px;
    color: #526D82; /* Helle Schriftfarbe */
    margin-top: -10px; /* Etwas Platz sparen */
    margin-bottom: 15px; /* Abstand zum nächsten Feld */
}
form label{
    font-weight: bold;
}

button.submit {
    width: 60%;
    padding: 12px 20px;
    background-color: var(--dark-accent);
    color: var(--light-font);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button.submit:hover {
    background-color: var(--light-accent);
    transform: scale(1.05);
}

button.submit:active {
    transform: scale(0.95);
}
