<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <script src="{% static 'index.js' %}" defer></script>
    <title>Stundenplan {{klassenname}}</title>
</head>
<body>
    
    <div class="header">
        <svg class="logout-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z" /></svg>
        <h1 class="header-heading">Stundenplan von Klasse - {{klassenname}}</h1>
        <div class="logout-container" >
            <a href="{% url 'logout' %}"></a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">{{username}}</button>
            </form> 
            <svg class="logout" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z" /></svg>
        </div>
    </div>
    
    <div class="content">
        <table class="table table-striped table-bordered table-hover doFixed">
            <thead>
                <tr class="darkrow">
                    <th rowspan="2"><svg class="clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 20C16.4 20 20 16.4 20 12S16.4 4 12 4 4 7.6 4 12 7.6 20 12 20M12 2C17.5 2 22 6.5 22 12S17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2M15.3 16.2L14 17L11 11.8V7H12.5V11.4L15.3 16.2Z" /></svg></th>
                    <th colspan="2">Montag</th>
                    <th colspan="2">Dienstag</th>
                    <th colspan="2">Mittwoch</th>
                    <th colspan="2">Donnerstag</th>
                    <th colspan="2">Freitag</th>
                </tr>
                <tr class="darkrow">
                    <th>A</th>
                    <th>B</th>
                    <th>A</th>
                    <th>B</th>
                    <th>A</th>
                    <th>B</th>
                    <th>A</th>
                    <th>B</th>
                    <th>A</th>
                    <th>B</th>
                </tr>
            </thead>
            <tbody>
                <tr class="darkrow 1.Stunde">
                    <td data-label="Zeit">08:00 - 08:45</td>
                    <td data-label="Montag A" colspan="1">{{monA1}}&nbsp;{{monA1Name}}<br>{{monA1Nr}}</td>
                    <td data-label="Montag B" colspan="1">{{monB1}}&nbsp;{{monB1Name}}<br>{{monB1Nr}}</td>
                    <td data-label="Dienstag A" colspan="1">{{tueA1}}&nbsp;{{tueA1Name}}<br>{{tueA1Nr}}</td>
                    <td data-label="Dienstag B" colspan="1">{{tueB1}}&nbsp;{{tueB1Name}}<br>{{tueB1Nr}}</td>
                    <td data-label="Mittwoch A" colspan="1">{{wedA1}}&nbsp;{{wedA1Name}}<br>{{wedA1Nr}}</td>
                    <td data-label="Mittwoch B" colspan="1">{{wedB1}}&nbsp;{{wedB1Name}}<br>{{wedB1Nr}}</td>
                    <td data-label="Donnerstag A" colspan="1">{{thuA1}}&nbsp;{{thuA1Name}}<br>{{thuA1Nr}}</td>
                    <td data-label="Donnerstag B" colspan="1">{{thuB1}}&nbsp;{{thuB1Name}}<br>{{thuB1Nr}}</td>
                    <td data-label="Freitag A" colspan="1">{{friA1}}&nbsp;{{friA1Name}}<br>{{friA1Nr}}</td>
                    <td data-label="Freitag B" colspan="1">{{friB1}}&nbsp;{{friB1Name}}<br>{{friB1Nr}}</td>
                </tr>
                <tr class=" 2.Stunde">
                    <td data-label="Zeit">08:55 - 09:40</td>
                    <td data-label="Montag A" colspan="1">{{monA2}}&nbsp;{{monA2Name}}<br>{{monA2Nr}}</td>
                    <td data-label="Montag B" colspan="1">{{monB2}}&nbsp;{{monB2Name}}<br>{{monB2Nr}}</td>
                    <td data-label="Dienstag A" colspan="1">{{tueA2}}&nbsp;{{tueA2Name}}<br>{{tueA2Nr}}</td>
                    <td data-label="Dienstag B" colspan="1">{{tueB2}}&nbsp;{{tueB2Name}}<br>{{tueB2Nr}}</td>
                    <td data-label="Mittwoch A" colspan="1">{{wedA2}}&nbsp;{{wedA2Name}}<br>{{wedA2Nr}}</td>
                    <td data-label="Mittwoch B" colspan="1">{{wedB2}}&nbsp;{{wedB2Name}}<br>{{wedB2Nr}}</td>
                    <td data-label="Donnerstag A" colspan="1">{{thuA2}}&nbsp;{{thuA2Name}}<br>{{thuA2Nr}}</td>
                    <td data-label="Donnerstag B" colspan="1">{{thuB2}}&nbsp;{{thuB2Name}}<br>{{thuB2Nr}}</td>
                    <td data-label="Freitag A" colspan="1">{{friA2}}&nbsp;{{friA2Name}}<br>{{friA2Nr}}</td>
                    <td data-label="Freitag B" colspan="1">{{friB2}}&nbsp;{{friB2Name}}<br>{{friB2Nr}}</td>
                </tr>
                <tr class="darkrow 3./4.Stunde">
                    <td data-label="Zeit">10:00 - 11:30</td>
                    <td data-label="Montag A" colspan="1">{{monA3}}&nbsp;{{monA3Name}}<br>{{monA3Nr}}</td>
                    <td data-label="Montag B" colspan="1">{{monB3}}&nbsp;{{monB3Name}}<br>{{monB3Nr}}</td>
                    <td data-label="Dienstag A" colspan="1">{{tueA3}}&nbsp;{{tueA3Name}}<br>{{tueA3Nr}}</td>
                    <td data-label="Dienstag B" colspan="1">{{tueB3}}&nbsp;{{tueB3Name}}<br>{{tueB3Nr}}</td>
                    <td data-label="Mittwoch A" colspan="1">{{wedA3}}&nbsp;{{wedA3Name}}<br>{{wedA3Nr}}</td>
                    <td data-label="Mittwoch B" colspan="1">{{wedB3}}&nbsp;{{wedB3Name}}<br>{{wedB3Nr}}</td>
                    <td data-label="Donnerstag A" colspan="1">{{thuA3}}&nbsp;{{thuA3Name}}<br>{{thuA3Nr}}</td>
                    <td data-label="Donnerstag B" colspan="1">{{thuB3}}&nbsp;{{thuB3Name}}<br>{{thuB3Nr}}</td>
                    <td data-label="Freitag A" colspan="1">{{friA3}}&nbsp;{{friA3Name}}<br>{{friA3Nr}}</td>
                    <td data-label="Freitag B" colspan="1">{{friB3}}&nbsp;{{friB3Name}}<br>{{friB3Nr}}</td>
                </tr>
                <tr class=" 5./6.Stunde">
                    <td data-label="Zeit">11:40 - 13:10</td>
                    <td data-label="Montag A" colspan="1">{{monA4}}&nbsp;{{monA4Name}}<br>{{monA4Nr}}</td>
                    <td data-label="Montag B" colspan="1">{{monB4}}&nbsp;{{monB4Name}}<br>{{monB4Nr}}</td>
                    <td data-label="Dienstag A" colspan="1">{{tueA4}}&nbsp;{{tueA4Name}}<br>{{tueA4Nr}}</td>
                    <td data-label="Dienstag B" colspan="1">{{tueB4}}&nbsp;{{tueB4Name}}<br>{{tueB4Nr}}</td>
                    <td data-label="Mittwoch A" colspan="1">{{wedA4}}&nbsp;{{wedA4Name}}<br>{{wedA4Nr}}</td>
                    <td data-label="Mittwoch B" colspan="1">{{wedB4}}&nbsp;{{wedB4Name}}<br>{{wedB4Nr}}</td>
                    <td data-label="Donnerstag A" colspan="1">{{thuA4}}&nbsp;{{thuA4Name}}<br>{{thuA4Nr}}</td>
                    <td data-label="Donnerstag B" colspan="1">{{thuB4}}&nbsp;{{thuB4Name}}<br>{{thuB4Nr}}</td>
                    <td data-label="Freitag A" colspan="1">{{friA4}}&nbsp;{{friA4Name}}<br>{{friA4Nr}}</td>
                    <td data-label="Freitag B" colspan="1">{{friB4}}&nbsp;{{friB4Name}}<br>{{friB4Nr}}</td>
                </tr>
                <tr class="darkrow 7./8.Stunde">
                    <td data-label="Zeit">08:55 - 08:40</td>
                    <td data-label="Montag A" colspan="1">{{monA5}}&nbsp;{{monA5Name}}<br>{{monA5Nr}}</td>
                    <td data-label="Montag B" colspan="1">{{monB5}}&nbsp;{{monB5Name}}<br>{{monB5Nr}}</td>
                    <td data-label="Dienstag A" colspan="1">{{tueA5}}&nbsp;{{tueA5Name}}<br>{{tueA5Nr}}</td>
                    <td data-label="Dienstag B" colspan="1">{{tueB5}}&nbsp;{{tueB5Name}}<br>{{tueB5Nr}}</td>
                    <td data-label="Mittwoch A" colspan="1">{{wedA5}}&nbsp;{{wedA5Name}}<br>{{wedA5Nr}}</td>
                    <td data-label="Mittwoch B" colspan="1">{{wedB5}}&nbsp;{{wedB5Name}}<br>{{wedB5Nr}}</td>
                    <td data-label="Donnerstag A" colspan="1">{{thuA5}}&nbsp;{{thuA5Name}}<br>{{thuA5Nr}}</td>
                    <td data-label="Donnerstag B" colspan="1">{{thuB5}}&nbsp;{{thuB5Name}}<br>{{thuB5Nr}}</td>
                    <td data-label="Freitag A" colspan="1">{{friA5}}&nbsp;{{friA5Name}}<br>{{friA5Nr}}</td>
                    <td data-label="Freitag B" colspan="1">{{friB5}}&nbsp;{{friB5Name}}<br>{{friB5Nr}}</td>
                </tr>
            </tbody>
        </table>
    </div>            
    </div>

</body>
</html>
